.cont{
    background-color: white;
    max-width: stretch;
    width: 100%;
    height: 100%;
}
.middle{
  margin-top: 10%;
  height: 80%; 
}
.leaflet-popup-content-wrapper{
  width: 1000px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.Header{
  position: fixed;;
  left:0;
  top:0;
  right:0; 
}
.wolvethumb1{
  height:300px;
  width: 150px;

}
.buttoms, but1{
  height: 100%;
  font-size: 48px;
  background-color: transparent;
  border: none;
  text-align: center;
} 
.App-footer{
    padding-left: 0%;
    height: 10%;
    position:relative;

  }
  .footerText{
    position:fixed;
    left:0;
    bottom:0;
    right:0; 
    background-color: transparent;
    height: 10%;

 
  }
  .wolvethumb1link{
    width: 300px;
}
  .colorit{
    color: black;
  }
  .widewolves{
    margin-left: -4%;
  }
  .totheright{
    margin-left: 4%;
  }
  .logo3{
    width: 100px;
    height: 70px;
  }
  .text{
    left:11%;
    bottom: 0;
    position:relative;
    color: black;
    margin-top: 7%;
  }
  .leaflet-popup-content{
    margin-top: 30px !important;
  }
  .leaflet-container a.leaflet-popup-close-button {
    top: 30px;
  right: 30px;
  }
  .impo
  .wolvethumb{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .backbutton{
    background-color: transparent;
    border: none;
    size:2rem;
    left:2%;
    padding-top: 2%;
        height: 25px;
  }
  .about{
    margin: 2%;
    }
 .hyper{
   margin-left: 15%;
   margin-top: 7%
 }
 .hyper1{
  margin-left: 37%;
  margin-top: 10%;
}
  .title{
    color: black;
  }
  .footer-logo{
    color: black;
    background-color: transparent;
    margin-left: 13% !important;
    margin-top: 5%;
  }
  p{
    color: black;
  }



    @media only screen and (max-width: 720px) {
      .center , .buttoms, but1{
        font-size: 1rem;
      } 
      .footerText{
      height: 20%;
    }
    .middle{
      height: 60%;
    }
    .text{
      left: 1%;
    }
    .hyper{
      margin-left: 10%;
    }
    .buttoms{
      size:3rem;    }
    .leaflet-popup-content-wrapper{
      width: 100%;
    }
    .widewolves{
      margin-left: 0%;
    }
    .totheright{
      margin-left: 0%;
    }
    
    
    .leaflet-popup-content{
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 720px) {
    .center , .buttoms, but1{
      font-size: 1rem;
    } 
    .footerText{
    height: 10%;
  }
  .middle{
    height: 60%;
  }
  .text{
    left: 1%;
  }
  .hyper{
    margin-left: 10%;
  }
  .hyper1{
    margin-left: 35%;
  }
  .buttoms{
    size:3rem;
  }    
  .leaflet-popup-content-wrapper{
    width: 100%;
  }
  .leaflet-popup-content{
    margin-top: 30px;
  }
  .widewolves{
    margin-left: 0%;
  }
  .totheright{
    margin-left: 0%;
  }
  
}
@media only screen and (max-width: 810px) {
  .center , .buttoms, but1{
    font-size: 1rem;
  } 
  .footerText{
  height: 10%;
}
.middle{
  height: 60%;
}
.text{
  left: 1%;
}
.hyper{
  margin-left: 10%;
}
.buttoms{
  size:3rem;
}
.leaflet-popup-content-wrapper{
  width: 100%;
}
.leaflet-popup-content{
  margin-top: 30px;
}
.widewolves{
  margin-left: 0%;
}
.totheright{
  margin-left: 0%;
}

}

    @media only screen and (max-width: 992px) {
      .center.buttoms, but1{
        font-size: 1rem;
      } 
      .footerText{
        height: 20%;
      }
      .middle{
        height: 60%;
      }
      .text{
        left: 1%;
      }
      .hyper{
        margin-left: 10%;
      }
      .buttoms{
        size:3rem;
      }
      .leaflet-popup-content-wrapper{
        width: 100%;
      }
      .widewolves{
        margin-left: 0%;
      }
      .totheright{
        margin-left: 0%;
      }
      
    }
    @media only screen and (max-width: 1224px) {
      .center.buttoms, but1{
        font-size: 1rem;
      } 
      .footerText{
        height: 35%;
      }
      .middle{
        height: 80%;
      }
      .text{
        left: 5%;
      }
      .hyper{
        margin-left: -10%;
        size: 70px;
        margin-top: 0%;
      }
      .hyper1{
        margin-left: 2%;
        margin-top: 0%;

      }
      .logo3{
        width: 100px;
        height: 100px;
      }
      .text{
        margin-left: -1%;
        margin-top: 0%;

      }

      .footer-logo{
        size:70px;
      }
      .buttoms{
        size:3rem;
      }
      .leaflet-popup-content-wrapper{
        width: 100%;
        margin-left: 50px

      }
      .leaflet-container a.leaflet-popup-close-button {
        top: 10px!important;
        right: 10px;
        color: black;
    }
      .wolvethumb1{
        height:180px;
        width: 90px;

      }
      .wolvethumb1link{
          width: 200px;
      }
      .leaflet-popup-content{
        margin-top: 30px;
      }
      .widewolves{
        margin-left: 0%;
      }
      .totheright{
        margin-left: 0%;
      }
      

    }